@import "./Theme.scss";

html,
body,
#app {
	height: 100%;
}

body {
	margin: 0;
	font-size: var(--app-font-size);
	font-family: var(--app-font-family);
	color: var(--app-color);
	background: var(--app-bgcolor);
	line-height: 1.5;
}
