@import "./Theme.scss";

html,
body,
#app {
	height: 100vh;
}

body {
	margin: 0;
	font-size: var(--app-font-size);
	font-family: var(--app-font-family);
	color: var(--color-primary);
	background: var(--color-bg-main);
	line-height: 1.5;
}
