@import "@src/styles/Theme.scss";

.GasFeeCard {
	width: 6rem;
	padding: 1rem;
	align-items: center;
	box-shadow: 0 0 1px black;
	border-radius: 0.5rem;

	&__label {
		font-size: 0.9rem;
		text-transform: capitalize;
	}

	&__separator {
		width: 100%;
		margin: 0;
		margin-top: -0.2rem;
	}

	&__gwei {
		font-size: 1.6rem;
		margin-top: 0.1rem;
	}

	&__usd {
		color: rgb(66, 66, 66);
		font-size: 0.8rem;
		margin-top: 0.2rem;
	}
}
