@import "@src/styles/Theme.scss";

.GasTracker {
	min-width: 9rem;
	padding: 2rem;
	padding-top: 1.5rem;
	box-shadow: 0 0 1px black;
	border-radius: 0.5rem;

	&__header {
		flex-direction: column-reverse;

		@media (min-width: 576px) {
			flex-direction: row !important;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__status {
		color: rgb(66, 66, 66);
		font-size: 0.9rem;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: 576px) {
			flex-direction: row !important;
			justify-content: center;
		}
	}
}
